{% load static %}
{% csrf_token %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Khanty-app</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'modules/black-dashboard/img/favicon.png' %}">
</head>
<body>
    <h1>Intro</h1>
    <div style="margin-top:5px">Description: &nbsp;the clients (boxes below) can subscribe, unsubscribe to/from
        a particular event ("SendMessage", "ChangeColor"). You as a user can make subscriptions for clients.
        Once client is subscribed, it starts receiving (frequent) notifications leading to a change in the client's state. That state is preserved in a database.
        Meanwhile, UI keeps requesting the state of each client and make it visible here<div>
    <div style="margin-top:5px">Status of docker containers: &nbsp;{{status}} (will be forcefully restarted 05AM:00 UTC)</div>
    <div style="margin-top:5px">Source code: &nbsp;<a href="https://github.com/samarkanov/khanty-app">github</a><div>

    <app-root></app-root>

    <div style="margin-top:15px;margin-left:15px">
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-1.html">part 1</a><div>
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-2.html">part 2</a><div>
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-3.html">part 3</a><div>
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-4.html">part 4</a><div>
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-5.html">part 5</a><div>
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-6.html">part 6</a><div>
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-7.html">part 7</a><div>
    <div>tutorial:	&nbsp;<a href="https://samarkanov.info/blog/rest/khanty-app-part-8.html">part 8</a><div>
    </div>

    <script src="{% static 'js/khanty-app/runtime.js' %}" defer></script>
    <script src="{% static 'js/khanty-app/polyfills.js' %}" defer></script>
    <script src="{% static 'js/khanty-app/styles.js' %}" defer></script>
    <script src="{% static 'js/khanty-app/vendor.js' %}" defer></script>
    <script src="{% static 'js/khanty-app/main.js' %}" defer></script>
</body>
</html>
